/*@font-face {
    font-family:JosefinSans-Regular;
    src:url("../fonts/JosefinSans-Regular.ttf");
}
.JosefinSans-Regular {font-family:JosefinSans-Regular;}

@font-face {
    font-family:JosefinSans-Light;
    src:url("../fonts/JosefinSans-Light.ttf");
}
.JosefinSans-Light {font-family:JosefinSans-Light;}

@font-face {
    font-family:JosefinSans-Thin;
    src:url("../fonts/JosefinSans-Thin.ttf");
}
.JosefinSans-Thin {font-family:JosefinSans-Thin;}*/

/*@font-face {
    font-family:Raleway-ExtraLight;
    src:url("../fonts/Raleway-ExtraLight.ttf");
}
.Raleway-ExtraLight {font-family:Raleway-ExtraLight;}*/

/*@font-face {
    font-family:Raleway-ExtraBold;
    src:url("../fonts/Raleway-ExtraBold.ttf");
}
Raleway-ExtraBold {font-family:Raleway-ExtraBold;}*/

/*@font-face {
    font-family:Raleway-Bold;
    src:url("../fonts/Raleway-Bold.ttf");
}
.Raleway-Bold {font-family:Raleway-Bold;}*/

/*@font-face {
    font-family:Exo-ExtraLight;
    src:url("../fonts/Exo-ExtraLight.ttf");
}
.Exo-ExtraLight {font-family:Exo-ExtraLight;}

@font-face {
    font-family:Exo-ExtraBold;
    src:url("../fonts/Exo-ExtraBold.ttf");
}
.Exo-ExtraBold {font-family:Exo-ExtraBold;}

@font-face {
    font-family:Exo-Bold;
    src:url("../fonts/Exo-Bold.ttf");
}
.Exo-Bold {font-family:Exo-Bold;}*/

@font-face {
    font-family:Cinzel-Regular;
    src:url("../fonts/Cinzel-Regular.ttf");
}
.Cinzel-Regular {font-family:Cinzel-Regular;}

@font-face {
    font-family:CinzelDecorative-Regular;
    src:url("../fonts/CinzelDecorative-Regular.ttf");
}
.CinzelDecorative-Regular {font-family:CinzelDecorative-Regular;}

@font-face {
    font-family:Roboto-Light;
    src:url("../fonts/Roboto-Light.ttf");
}
.Roboto-Light {font-family:Roboto-Light;}

/*@font-face {
    font-family:HURTM;
    src:url("../fonts/HURTM.ttf");
}
.HURTM {font-family:HURTM;}*/

/*@font-face {
    font-family:Galada-Regular;
    src:url("../fonts/Galada-Regular.ttf");
}
.Galada-Regular {font-family:Galada-Regular;}

@font-face {
    font-family:SolaimanLipi;
    src:url("../fonts/SolaimanLipi.ttf");
}
.SolaimanLipi {font-family:SolaimanLipi;}*/

/*@font-face {
    font-family:Ubuntu-B;
    src:url("../fonts/Ubuntu-B.ttf");
}
.Ubuntu-B {font-family:Ubuntu-B;}*/

/*@font-face {
    font-family:Ubuntu-L;
    src:url("../fonts/Ubuntu-L.ttf");
}
.Ubuntu-L {font-family:Ubuntu-L;}*/

/*@font-face {
    font-family:UbuntuMono-R;
    src:url("../fonts/UbuntuMono-R.ttf");
}
.UbuntuMono-R {font-family:UbuntuMono-R;}*/

/*@font-face {
    font-family:CormorantGaramond-Regular;
    src:url("../fonts/CormorantGaramond-Regular.ttf");
}
.CormorantGaramond-Regular {font-family:CormorantGaramond-Regular;}*/

/*@font-face {
    font-family:CormorantGaramond-Light;
    src:url("../fonts/CormorantGaramond-Light.ttf");
}
.CormorantGaramond-Light {font-family:CormorantGaramond-Light;}*/

/*@font-face {
    font-family:CormorantUnicase-Regular;
    src:url("../fonts/CormorantUnicase-Regular.ttf");
}
.CormorantUnicase-Regular {font-family:CormorantUnicase-Regular;}*/

@font-face {
    font-family:CormorantUnicase-Bold;
    src:url("../fonts/CormorantUnicase-Bold.ttf");
}
.CormorantUnicase-Bold {font-family:CormorantUnicase-Bold;}

/*@font-face {
    font-family:Neuton-Light;
    src:url("../fonts/Neuton-Light.ttf");
}
.Neuton-Light {font-family:Neuton-Light;}

@font-face {
    font-family:Quicksand-Light;
    src:url("../fonts/Quicksand-Light.ttf");
}
.Quicksand-Light {font-family:Quicksand-Light;}

@font-face {
    font-family:Quicksand-Regular;
    src:url("../fonts/Quicksand-Regular.ttf");
}
.Quicksand-Regular {font-family:Quicksand-Regular;}*/

/*@font-face {
    font-family:SourceSerifPro-Black;
    src:url("../fonts/SourceSerifPro-Black.ttf");
}
.SourceSerifPro-Black {font-family:SourceSerifPro-Black;}*/

/*@font-face {
    font-family:SourceSerifPro-ExtraLight;
    src:url("../fonts/SourceSerifPro-ExtraLight.ttf");
}
.SourceSerifPro-ExtraLight {font-family:SourceSerifPro-ExtraLight;}*/

/*@font-face {
    font-family:SourceSerifPro-Light;
    src:url("../fonts/SourceSerifPro-Light.ttf");
}
.SourceSerifPro-Light {font-family:SourceSerifPro-Light;}*/

/*@font-face {
    font-family:Roboto-Black;
    src:url("../fonts/Roboto-Black.ttf");
}
.Roboto-Black {font-family:Roboto-Black;}*/

/*@font-face {
    font-family:Roboto-Regular;
    src:url("../fonts/Roboto-Regular.ttf");
}
.Roboto-Regular {font-family:Roboto-Regular;}*/

@font-face {
    font-family:RobotoSlab-Light;
    src:url("../fonts/RobotoSlab-Light.ttf");
}
.RobotoSlab-Light {font-family:RobotoSlab-Light;}

@font-face {
    font-family:RobotoSlab-Regular;
    src:url("../fonts/RobotoSlab-Regular.ttf");
}
.RobotoSlab-Regular {font-family:RobotoSlab-Regular;}

/*@font-face {
    font-family:SourceSansPro-Regular;
    src:url("../fonts/SourceSansPro-Regular.ttf");
}
.SourceSansPro-Regular {font-family:SourceSansPro-Regular;}*/

@font-face {
    font-family:SourceSerifPro-Regular;
    src:url("../fonts/SourceSerifPro-Regular.ttf");
}
.SourceSerifPro-Regular {font-family:SourceSerifPro-Regular;}

@font-face {
    font-family:Lohit-Bengali;
    src:url("../fonts/Lohit-Bengali.ttf");
}
.Lohit-Bengali {font-family:Lohit-Bengali;}

@font-face {
    font-family:MuseoSans_100;
    src:url("../fonts/MuseoSans_100.ttf");
}
.MuseoSans_100 {font-family:MuseoSans_100;}

@font-face {
    font-family:MuseoSans_300;
    src:url("../fonts/MuseoSans_300.ttf");
}
.MuseoSans_300 {font-family:MuseoSans_300;}

@font-face {
    font-family:MuseoSans_500;
    src:url("../fonts/MuseoSans_500.ttf");
}
.MuseoSans_500 {font-family:MuseoSans_500;}

.default-font {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, Lohit-Bengali;
}





